* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, rgb(238, 233, 70), rgb(205, 133, 0));
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    
    /* 1vh = 1% wysokosci 
    1vw - 1procent szerokosci */
}
.container
{
    margin-bottom:70px;
}
h1 {
    font-size: 54px;
    text-align: center;
    margin: 5% auto;
    padding: 10px;
    border: 4px solid rgba(216, 169, 17, 0.876);
    border-radius: 40px;
}

.gallery {
    text-align: center;
    padding: 0;
    background: linear-gradient(70deg, rgba(216, 169, 17, 0.876), rgb(177, 115, 0));
    border-radius: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    border: solid 3px rgb(237, 195, 77);
    border-radius: 20px;
    box-shadow: 16px 13px 35px 0px rgb(222, 188, 18);
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.4s;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(0.9);
}

.gallery p {
    margin-bottom: 30px;
    font-size: 30px;
    font-style: italic;
}

.gallery figcaption {
    margin-bottom: 15px;
    font-weight: 700;
    border-bottom: 3px solid rgb(142, 8);
    /* font-size: 20px; */
}

.gallery img:focus,
.gallery img:focus-visible {
    border: solid 2px rgb(142, 87, 0);
}

.jump--out {
    animation: appearOnScreen 0.4s;
    background: linear-gradient(70deg, rgba(216, 170, 17, 0.387), rgba(177, 115, 0, 0.501));
    display: flex;
    backdrop-filter: blur(5px);
    /* rozmycie */
    position: fixed;
    height: 100vh;
    width: 120vh;
    flex-wrap: wrap;
    left: 25%;
    top: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.jump--out.dissapearOnScreen {
    animation: dissapearOnScreen 0.4s both;
}

.jump--out.hidden {
    display: none;
}

.jump--out__img {
    max-height: 80%;
    max-width: 80%;
}

.jump--out__close {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: fixed;
    font-size: 30px;
    font-weight: 800;
    top: 2%;
    right: 5%;
}

.jump--out__arrow {
    border: none;
    border-radius: 50%;
    background: linear-gradient(70deg, rgba(102, 79, 5, 0.387), rgba(177, 115, 0, 0.501));
    cursor: pointer;
    position: absolute;
    top: 80%;
    font-size: 50px;
}

.jump--out__close,
.jump--out__arrow {
    opacity: 0.5;
    transition: opacity 0.4s;
}

.jump--out__close:hover,
.jump--out__arrow:hover {
    opacity: 1.2;
}

.jump--out__arrow--left {
    left: 1%;
}

.jump--out__arrow--right {
    right: 1%;
}

.jump--out__arrow--right.hidden {
    display: none;
}

@keyframes appearOnScreen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dissapearOnScreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.jump--out img {
    width: 100%;
    height: auto;
}