* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, rgb(238, 232, 70), rgb(205, 72, 0));
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    /* scroll poziomy */
    /* 1vh = 1% wysokosci 
    1vw - 1procent szerokosci */
}

/* .navbar-nav li:hover >.dropdown-menu
{
    display:block;
} */
.bg-language {
    background-color: rgb(252, 152, 3) !important;
}

.main_aside {
    margin-top: 120px;
}

.container aside:first-child img {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: auto;
    /* margin-bottom: */
}

.lang_container {
    color: black;
    border: 2px dashed orange;
    margin-top: 100px;
}

.lang_container li {
    margin-bottom: 20px;
    list-style-type: square;
    font-size: 25px;
    font-weight: 600;
    color: rgb(152, 89, 0);
}

.lang_container ul>li>ol>li {
    list-style-type: circle;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: black;

}

.czas {
    width: 100%;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-top: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;

}

a:hover {
    color: rgb(128, 123, 123);
}

.bg-aside {
    background: linear-gradient(45deg, rgb(253, 246, 45), rgb(172, 60, 0));

}

.list-group-item-warning {
    background-color: rgb(253, 180, 11);
    color: black;
    font-weight: 600;
    font-style: italic;
}

.list-group-item-warning:hover {
    background-color: rgba(255, 179, 0, 0.533) !important;
}

.list-group .active {
    background-color: rgba(173, 122, 3, 0.533) !important;
    cursor: default;
}

.scroll_Up {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("images/up.png") no-repeat 0px 0px;
    /* lewa górna krawędź */
    /* border: 5px solid black; */
    position: fixed;
    right: 25px;
    bottom: 30px;
    display: none;
}

@media(max-width: 770px) {
    .list-group {
        text-align: center;
    }

    .scroll_Up {
        right: 20px;
        bottom: 20px;
    }
}


@media(max-width: 600px)
{
    .scroll_Up {
    background: url("images/up.png") no-repeat -10px -10px;

        width: 40px;
        height: 40px;

    }
}