<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>Gramatyka-Galeria</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="galeria2.css" />
    <link rel="stylesheet" href="fontello-3df26569/css/fontello.css">
</head>

<body>

    <section class="gallery">
        <div class="container">
            <header>
                <h1>Gramatyka Hiszpańska</h1>
                <p>Tutaj możesz znaleźć sposób tworzenia wszystkich czasów hiszpańskich.
                    <br>Oraz dowiedzieć się w jakich przypadkach są wykorzystane.
                </p>
            </header>
            <div class="row">
                <div class="col-sm-6 col-md-5 ">
                    <figure>
                        <figcaption>Presente</figcaption>
                        <img tabindex="0" src="images_spanish/czas_1.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-7">
                    <figure>
                        <figcaption>Preterito Pluscuamperfecto</figcaption>
                        <img tabindex="0" src="images_spanish/czas_7.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <figure>
                        <figcaption>Pretérito Anterior</figcaption>
                        <img tabindex="0" src="images_spanish/czas_3.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-4">
                    <figure>
                        <figcaption>Futuro Perfecto</figcaption>
                        <img tabindex="0" src="images_spanish/czas_9.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-4">
                    <figure>
                        <figcaption>Preterito Indefinido</figcaption>
                        <img tabindex="0" src="images_spanish/czas_5.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4">
                    <figure>
                        <figcaption>Futuro Imperfecto</figcaption>
                        <img tabindex="0" src="images_spanish/czas_8v2.jpg" alt="">
                    </figure>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 offset-lg-2 ">
                    <figure>
                        <figcaption>Preterito Indefinido</figcaption>
                        <img tabindex="0" src="images_spanish/czas_5.jpg" alt="">
                    </figure>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-6 col-md-6">
                    <figure>
                        <figcaption>Presente Continuo</figcaption>
                        <img tabindex="0" src="images_spanish/czas_2.jpg" alt="">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-6">
                    <figure>
                        <figcaption>Preterito Perfecto</figcaption>
                        <img tabindex="0" src="images_spanish/czas_6v2.png" alt="">
                    </figure>
                </div>


                <div class="col-sm-6 offset-sm-3">
                    <figure>
                        <figcaption>Preterito Imperfecto</figcaption>
                        <img tabindex="0" src="images_spanish/czas_4.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </section>
    <div class="jump--out hidden">
        <button aria-label="Zamknij Obraz" class="jump--out__close">X</button>
        <img alt="" class="jump--out__img">
        <button aria-label="Poprzednie Zdjęcie" class="jump--out__arrow jump--out__arrow--left">
            <i class="icon-left-open"></i>
        </button>
        <button ara-lable="Następne Zdjęcie" class="jump--out__arrow jump--out__arrow--right">
            <i class="icon-right-open"></i>
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="galeria.js"></script>
</body>

</html>